config.stopBubbling=true

#setter链式调用
clear lombok.accessors.chain
lombok.accessors.chain=true
 
#equals hashCode默认调用父类
clear lombok.equalsAndHashCode.callSuper
lombok.equalsAndHashCode.callSuper=CALL
 
#equals hashCode出现警告时是否允许
clear lombok.equalsAndHashCode.flagUsage
lombok.equalsAndHashCode.flagUsage=ALLOW
 
#toString默认调用父类
clear lombok.toString.callSuper
lombok.toString.callSuper=CALL
 
#toString出现警告时是否允许
clear lombok.toString.flagUsage
lombok.toString.flagUsage=ALLOW